<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.littletest">

    <application>
        <!--https://developer.android.com/training/testing/set-up-project-->
        <!--
         You don't need to include android:required="false" if your app's
         minSdkVersion is 28 or higher.
         -->
        <uses-library
            android:name="android.test.runner"
            android:required="false"/>
        <!--
         For both of these declarations, you don't need to include
         android:required="false" if your app's minSdkVersion is 28
         or higher.
         -->
        <uses-library
            android:name="android.test.base"
            android:required="false"/>
        <uses-library
            android:name="android.test.mock"/>
    </application>

</manifest>